#titulo {
    color: darkblue;
}

.verde {
    color: brown;
}

h1 {
    color: darkslateblue;
}

p{
    color: black;
}

.titulos-grandes {
    font-size: 50px;
}

h1 {
    color: cornflowerblue;
}
.coral {
    color: lightcoral;
}